@import url("https://unpkg.com/reveal.js@4.1.0/dist/theme/white.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Перегрузки white.css */

:root {
    --main-font: 'Roboto', sans-serif;
    --heading-font: 'Roboto', sans-serif;
    --heading-font-weight: 500;
}

.reveal .slides {
    text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: 500;
}

/* Собственные стили */

.reveal .center {
    text-align: center;
}

.reveal .right {
    text-align: right;
}
